.step1Container, .step2Container {
    height: 700px;
}

.step1Row, .step2Row {
    background-color: #fff;
    height: 700px;
    width: 119%;
    margin-left: -120px;
    margin-top: 70px;
    color: #333;

}

.step1Header {
    font-size: 32px;
    font-weight: 500;
}

.step1Container p, .step2Container p {
    max-width: 340px;
    text-align: center;
}

.step1Container button, .step2Container button {
    background-color: #f6121d;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
    min-width: 110px;
    width: 24%;
}