.abc {
    height: 700px;
}

.pqr {
    background-color: #fff;
    height: 700px;
    width: 119%;
    margin-left: -120px;
    margin-top: 70px;
    color: #333;

}

.step1Header{
    font-size: 32px;
    font-weight: 500;
}

.pqr p {
    max-width: 340px;
    text-align: center;
}

.pqr button {
    background-color: #f6121d;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
    min-width: 110px;
    width: 24%;
}