.navbar {
    height: 1.875rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar:hover {
    cursor: pointer;
}

.logo {
    position: fixed;
    left: 1.25rem;
    width: 6.25rem;
}

.avatar {
    position: fixed;
    width: 2.188rem;
    right: 1.875rem;
}